/***********
* COLOURS *
***********/ 

$green: #3A8051;
$blue: blue;
$white: white;
$black: black;


/***********
* Font Sizes *
***********/

$xs-size: 10px;
$s-size: 12px;
$sm-size: 16px;
$m-size: 18px;
$ms-size: 20px;
$ml-size: 26px;
$l-size: 32px;
$xl-size: 42px;
$xxl-size: 54px;